body {
  background-color: black;
}

* {
  color: white;
}

#visualize-button {
  color: white;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  background-color: black;
}

.main-td {
  margin: 10px;
  margin-left: 10px;
  margin-right: 10px;
  /* background-color: grey; */
  align-items: center;
}
