body {
  background-color: black;
}

* {
  color: white;
  font-family: "Andale Mono";
}

p {
  margin: 3px;
}

.dark-mode {
  background-color: black;
  color: white;
}

.light-mode {
  background-color: white;
  color: black;
}

.main-td {
  padding: 10px;
}

.divider-td {
  padding: 0px;
  height: 0px;
}

.bngl-header {
  text-align: center;
  margin: 0px;
}

.table-divider {
  font-size: 30px;
  text-align: center;
  margin: 0px;
}
