body {
  background-color: black;
}

* {
  color: white;
}

#visualize-button {
  color: white;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  background-color: black;
}

.main-td {
  padding: 10px;
}

.divider-td {
  padding: 0px;
  height: 0px;
}

.bngl-header {
  text-align: center;
  margin: 0px;
}

.table-divider {
  font-size: 30px;
  text-align: center;
  margin: 0px;
}
